# ----------------------------
# OS / Editor / Temp Files
# ----------------------------
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
.DS_Store
Thumbs.db

# ----------------------------
# Virtual Environment
# ----------------------------
.venv/
venv/
env/
ENV/

# ----------------------------
# Git / CI
# ----------------------------
.git/
.gitignore
.github/
.gitattributes

# ----------------------------
# Python caches & build
# ----------------------------
build/
dist/
*.egg-info/
.wheels/

# ----------------------------
# Jupyter / Data
# ----------------------------
*.ipynb_checkpoints/
*.ipynb
.ipynb_checkpoints/
dump/
logs/
tmp/
temp/
output/
notebooks/

# ----------------------------
# Credentials / Secrets
# ----------------------------
*.env
.env.*
secrets/
config/*.secret
private_key.json

# ----------------------------
# Large Data Files
# ----------------------------
*.csv
*.xlsx
*.parquet
data/
raw_data/
datasets/

# Allow MODEL files (needed for prediction)
!model/
!model/**


# ----------------------------
# Training / Drift service files
# (NOT needed in API container)
# ----------------------------
trainer/
drift/
train_model.py
train_old/
metrics/
drift_artifacts/

# ----------------------------
# Docker files (should not ignore)
# ----------------------------
!Dockerfile
!entrypoint.sh
